.home-container {
    width: 100%; /* Make container full-width */
    max-width: 1200px; /* Set max width for readability */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Prevent content overflow */
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word; /* Wrap long text */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  select, button, input[type="text"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }
  
  button {
    background-color: #525c75;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #38476d;
  }
  
  .new-truck-form {
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  }
  
  .action-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #525c75;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #38476d;
  }
  