* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;


}

body {
  background-image: url('../assets/22.jpg'); /* Ensure the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
}

select {
  appearance: none; /* For consistent appearance across browsers */
  -webkit-appearance: none; /* For Chrome and Safari */
  -moz-appearance: none; /* For Firefox */
}

select:focus, input:focus {
  border-color: #03e9f4; /* Same focus color for both input and select */
  outline: none; /* Remove default browser outline */
  box-shadow: 0 0 2px rgba(3, 233, 244, 0.5); /* Add custom focus shadow */
}

.input-container {
  font-size: 15px;
  padding: 4px;
  color: whitesmoke;
  font-style: italic;
  position: relative;
  
}

.helper-text {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 0;
}



.register-container {
  background-color: rgba(9, 0, 0, 0.805); /* Slight transparency */
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 90px rgba(255, 0, 93, 0.7);

  max-width: 600px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-top: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

button {
  font-style: italic  ;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  color: #03e9f4;
  border: 2px solid #03e9f4;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  box-shadow:
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 15px #03e9f4,
    0 0 20px #03e9f4;
}

button:hover {
  background-color: #17c47c;
  color: #050801;
  box-shadow:
    0 0 10px #17c47c,
    0 0 20px #17c47c,
    0 0 30px #17c47c,
    0 0 40px #17c47c;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

label {
  display: block;
  font-weight: bold;
  text-align: left;
}

.helper-text {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}



/* Remove any extra space below */
.register-container {
  margin-bottom: 0;
}
.input-container {
  color:whitesmoke;
  font-style: italic  ;
}